<%= turbo_frame_tag "new_review" do %>
  <%= form_with(model: [sneaker, review], class: "needs-validation") do |f| %>
    <div class="row g-3">
      <div class="col-md-6">
        <div class="form-floating">
          <%= f.text_field :user_name, class: "form-control", placeholder: "Your Name", required: true %>
          <%= f.label :user_name, class: "required" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating">
          <%= f.select :rating, options_for_select(1..5), { prompt: "Select Rating" },
                       { class: "form-select", required: true } %>
          <%= f.label :rating, class: "required" %>
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          <%= f.text_area :comment, class: "form-control", style: "height: 100px",
                          placeholder: "Your Review", required: true %>
          <%= f.label :comment, class: "required" %>
        </div>
      </div>

      <div class="col-12">
        <%= f.button type: :submit, class: "btn btn-primary" do %>
          <i class="fas fa-paper-plane me-1"></i>Submit Review
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>